doctype html
html
	head
		link(href='http://fonts.googleapis.com/css?family=Sofadi+One' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		br
		br
		br
		h1 GSP-Spotter
		p Coming soon...